pages/automation/soar.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOAR Platforms - Detection Engineering Mastery</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="layout">
        <nav class="sidebar">
            <div class="sidebar-header">
                <a href="../../index.html" class="logo">
                    <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M12 2L2 7l10 5 10-5-10-5z"></path><path d="M2 17l10 5 10-5"></path><path d="M2 12l10 5 10-5"></path></svg>
                    <span>Detection Engineering</span>
                </a>
            </div>
            <div class="nav-sections">
                <div class="nav-section " data-section="detection-engineering">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.35-4.35"></path></svg>
                            <span>Detection Engineering</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../detection-engineering/fundamentals.html" class="nav-item ">Detection Fundamentals</a>
                        <a href="../detection-engineering/sentinel-deep-dive.html" class="nav-item ">Microsoft Sentinel</a>
                        <a href="../detection-engineering/splunk-comparison.html" class="nav-item ">Splunk Comparison</a>
                        <a href="../detection-engineering/detection-logic.html" class="nav-item ">Detection Logic</a>
                        <a href="../detection-engineering/mitre-mapping.html" class="nav-item ">MITRE ATT&CK Mapping</a>
                        <a href="../detection-engineering/use-case-framework.html" class="nav-item ">Use Case Framework</a>
                        <a href="../detection-engineering/metrics-optimization.html" class="nav-item ">Metrics & Optimization</a>
                    </div>
                </div>
                <div class="nav-section " data-section="log-analysis">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline></svg>
                            <span>Log Analysis</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../log-analysis/fundamentals.html" class="nav-item ">Log Fundamentals</a>
                        <a href="../log-analysis/network-logs.html" class="nav-item ">Network Logs</a>
                        <a href="../log-analysis/endpoint-logs.html" class="nav-item ">Endpoint Logs</a>
                        <a href="../log-analysis/cloud-logs.html" class="nav-item ">Cloud Logs</a>
                        <a href="../log-analysis/identity-logs.html" class="nav-item ">Identity Logs</a>
                        <a href="../log-analysis/data-models.html" class="nav-item ">Data Models</a>
                    </div>
                </div>
                <div class="nav-section " data-section="threat-intel">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                            <span>Threat Intelligence</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../threat-intel/fundamentals.html" class="nav-item ">TI Fundamentals</a>
                        <a href="../threat-intel/sources.html" class="nav-item ">Intelligence Sources</a>
                        <a href="../threat-intel/ioc-management.html" class="nav-item ">IOC Management</a>
                        <a href="../threat-intel/threat-hunting.html" class="nav-item ">Threat Hunting</a>
                        <a href="../threat-intel/hunting-methodology.html" class="nav-item ">Hunting Methodology</a>
                        <a href="../threat-intel/hunting-techniques.html" class="nav-item ">Hunting Techniques</a>
                        <a href="../threat-intel/hunting-queries.html" class="nav-item ">Hunting Queries</a>
                        <a href="../threat-intel/mitre-framework.html" class="nav-item ">MITRE Deep Dive</a>
                    </div>
                </div>
                <div class="nav-section " data-section="sap-security">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>
                            <span>SAP Security</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../sap-security/sap-overview.html" class="nav-item ">SAP Overview</a>
                        <a href="../sap-security/architecture.html" class="nav-item ">Architecture</a>
                        <a href="../sap-security/modules-services.html" class="nav-item ">Modules & Services</a>
                        <a href="../sap-security/security-fundamentals.html" class="nav-item ">Security Fundamentals</a>
                        <a href="../sap-security/log-types.html" class="nav-item ">Log Types</a>
                        <a href="../sap-security/threat-detection.html" class="nav-item ">Threat Detection</a>
                        <a href="../sap-security/siem-integration.html" class="nav-item ">SIEM Integration</a>
                        <a href="../sap-security/compliance.html" class="nav-item ">Compliance</a>
                    </div>
                </div>
                <div class="nav-section " data-section="vulnerability-mgmt">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>
                            <span>Vulnerability Management</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../vulnerability-mgmt/fundamentals.html" class="nav-item ">VM Fundamentals</a>
                        <a href="../vulnerability-mgmt/scanning.html" class="nav-item ">Scanning</a>
                        <a href="../vulnerability-mgmt/qualys-deep-dive.html" class="nav-item ">Qualys Deep Dive</a>
                        <a href="../vulnerability-mgmt/tenable.html" class="nav-item ">Tenable/Nessus</a>
                        <a href="../vulnerability-mgmt/prioritization.html" class="nav-item ">Prioritization</a>
                        <a href="../vulnerability-mgmt/remediation.html" class="nav-item ">Remediation</a>
                        <a href="../vulnerability-mgmt/metrics.html" class="nav-item ">VM Metrics</a>
                        <a href="../vulnerability-mgmt/automation.html" class="nav-item ">VM Automation</a>
                    </div>
                </div>
                <div class="nav-section " data-section="cloud-security">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path></svg>
                            <span>Cloud Security</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../cloud-security/fundamentals.html" class="nav-item ">Cloud Fundamentals</a>
                        <a href="../cloud-security/aws-security.html" class="nav-item ">AWS Security</a>
                        <a href="../cloud-security/azure-security.html" class="nav-item ">Azure Security</a>
                        <a href="../cloud-security/gcp-security.html" class="nav-item ">GCP Security</a>
                        <a href="../cloud-security/multi-cloud.html" class="nav-item ">Multi-Cloud</a>
                        <a href="../cloud-security/cspm.html" class="nav-item ">CSPM & CWPP</a>
                    </div>
                </div>
                <div class="nav-section expanded" data-section="automation">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>
                            <span>Automation</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../automation/fundamentals.html" class="nav-item ">Automation Fundamentals</a>
                        <a href="../automation/python-security.html" class="nav-item ">Python for Security</a>
                        <a href="../automation/powershell-security.html" class="nav-item ">PowerShell</a>
                        <a href="../automation/bash-security.html" class="nav-item ">Bash Scripting</a>
                        <a href="../automation/soar.html" class="nav-item active">SOAR Platforms</a>
                        <a href="../automation/api-integration.html" class="nav-item ">API Integration</a>
                    </div>
                </div>
                <div class="nav-section " data-section="compliance">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
                            <span>Compliance</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../compliance/framework-overview.html" class="nav-item ">Framework Overview</a>
                        <a href="../compliance/iso-27001.html" class="nav-item ">ISO 27001</a>
                        <a href="../compliance/nist-csf.html" class="nav-item ">NIST CSF</a>
                        <a href="../compliance/nist-800-53.html" class="nav-item ">NIST 800-53</a>
                        <a href="../compliance/gdpr.html" class="nav-item ">GDPR</a>
                        <a href="../compliance/other-frameworks.html" class="nav-item ">Other Frameworks</a>
                        <a href="../compliance/documentation.html" class="nav-item ">Documentation</a>
                    </div>
                </div>
                <div class="nav-section " data-section="incident-response">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
                            <span>Incident Response</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../incident-response/soc-collaboration.html" class="nav-item ">SOC Collaboration</a>
                        <a href="../incident-response/ir-support.html" class="nav-item ">IR Support</a>
                        <a href="../incident-response/forensics.html" class="nav-item ">Forensics</a>
                        <a href="../incident-response/communication.html" class="nav-item ">Communication</a>
                    </div>
                </div>
                <div class="nav-section " data-section="references">
                    <div class="nav-section-header">
                        <div class="nav-section-title">
                            <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
                            <span>Quick Reference</span>
                        </div>
                        <svg class="nav-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    <div class="nav-items">
                        <a href="../references/kql-cheatsheet.html" class="nav-item ">KQL Cheatsheet</a>
                        <a href="../references/spl-cheatsheet.html" class="nav-item ">SPL Cheatsheet</a>
                        <a href="../references/regex-mastery.html" class="nav-item ">Regex Reference</a>
                        <a href="../references/windows-events.html" class="nav-item ">Windows Events</a>
                        <a href="../references/mitre-quick-ref.html" class="nav-item ">MITRE Quick Ref</a>
                        <a href="../references/interview-prep.html" class="nav-item ">Interview Prep</a>
                        <a href="../references/interview-answers.html" class="nav-item ">My Interview Answers</a>
                    </div>
                </div>
            </div>
        </nav>

        <main class="main-content">
            <div class="content">
                <nav class="breadcrumb">
                    <a href="../../index.html">Home</a>
                    <span class="separator">/</span>
                    <a href="soar.html">Automation</a>
                    <span class="separator">/</span>
                    <span class="current">SOAR Platforms</span>
                </nav>

                <header class="page-header">
                    <h1>SOAR Platforms</h1>
                    <p class="subtitle">Security Orchestration, Automation, and Response platforms—playbook design, integration patterns, and implementation strategies.</p>
                </header>

                <section class="content-section">
                    <h2>What is SOAR?</h2>
                    
                    <p>SOAR (Security Orchestration, Automation, and Response) platforms combine three capabilities to accelerate security operations:</p>

                    <div class="comparison-grid">
                        <div class="comparison-card">
                            <h4>Orchestration</h4>
                            <p>Connect and coordinate multiple security tools through integrations.</p>
                            <ul>
                                <li>SIEM integration</li>
                                <li>EDR/XDR connectors</li>
                                <li>Threat intel feeds</li>
                                <li>Ticketing systems</li>
                            </ul>
                        </div>
                        <div class="comparison-card">
                            <h4>Automation</h4>
                            <p>Execute repetitive tasks without human intervention.</p>
                            <ul>
                                <li>IOC enrichment</li>
                                <li>Alert triage</li>
                                <li>Data collection</li>
                                <li>Report generation</li>
                            </ul>
                        </div>
                        <div class="comparison-card">
                            <h4>Response</h4>
                            <p>Take containment and remediation actions.</p>
                            <ul>
                                <li>Host isolation</li>
                                <li>User disable</li>
                                <li>IP blocking</li>
                                <li>Ticket creation</li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Major SOAR Platforms</h2>

                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Platform</th>
                                <th>Vendor</th>
                                <th>Key Strengths</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Microsoft Sentinel</strong></td>
                                <td>Microsoft</td>
                                <td>Native Azure/M365 integration, Logic Apps</td>
                            </tr>
                            <tr>
                                <td><strong>Cortex XSOAR</strong></td>
                                <td>Palo Alto</td>
                                <td>Large marketplace, mature platform</td>
                            </tr>
                            <tr>
                                <td><strong>Splunk SOAR</strong></td>
                                <td>Splunk (Cisco)</td>
                                <td>Deep Splunk integration, visual playbooks</td>
                            </tr>
                            <tr>
                                <td><strong>Chronicle SOAR</strong></td>
                                <td>Google</td>
                                <td>Siemplify acquisition, GCP native</td>
                            </tr>
                            <tr>
                                <td><strong>Tines</strong></td>
                                <td>Tines</td>
                                <td>No-code, flexible, modern UI</td>
                            </tr>
                            <tr>
                                <td><strong>Swimlane</strong></td>
                                <td>Swimlane</td>
                                <td>Low-code, case management</td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="content-section">
                    <h2>Sentinel Automation</h2>

                    <h3>Automation Rules vs Playbooks</h3>
                    <div class="grid-2">
                        <div class="info-box">
                            <h4>Automation Rules</h4>
                            <ul>
                                <li>Lightweight, runs on incident creation</li>
                                <li>No code required</li>
                                <li>Change severity, status, owner</li>
                                <li>Trigger playbooks</li>
                                <li>Suppress/close incidents</li>
                            </ul>
                        </div>
                        <div class="info-box">
                            <h4>Playbooks (Logic Apps)</h4>
                            <ul>
                                <li>Complex workflows</li>
                                <li>External API calls</li>
                                <li>Conditional logic</li>
                                <li>Human approval steps</li>
                                <li>Response actions</li>
                            </ul>
                        </div>
                    </div>

                    <h3>Example: IOC Enrichment Playbook</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>Logic App Workflow (JSON)</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>{
    "definition": {
        "$schema": "https://schema.management.azure.com/schemas/.../workflowdefinition.json#",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Get_Incident_Entities": {
                "type": "ApiConnection",
                "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                    "method": "post",
                    "path": "/Incidents/entities",
                    "body": { "incidentArmId": "@triggerBody()?['object']?['id']" }
                }
            },
            "For_Each_IP": {
                "type": "Foreach",
                "foreach": "@body('Get_Incident_Entities')?['IPs']",
                "actions": {
                    "Query_VirusTotal": {
                        "type": "Http",
                        "inputs": {
                            "method": "GET",
                            "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{items('For_Each_IP')?['Address']}",
                            "headers": { "x-apikey": "@parameters('VT_API_KEY')" }
                        }
                    },
                    "Add_Comment": {
                        "type": "ApiConnection",
                        "inputs": {
                            "body": {
                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                "message": "VT Result: @{body('Query_VirusTotal')?['data']?['attributes']?['last_analysis_stats']}"
                            },
                            "path": "/Incidents/Comment"
                        }
                    }
                }
            }
        }
    }
}</code></pre>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Cortex XSOAR</h2>

                    <h3>Playbook Structure</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>XSOAR Playbook YAML</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>id: phishing-investigation
name: Phishing Email Investigation
description: Automated investigation of reported phishing emails
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: start
    type: start
    nexttasks:
      '#none#':
      - "1"

  "1":
    id: "1"
    taskid: extract-indicators
    type: regular
    task:
      name: Extract Indicators from Email
      script: ExtractIndicatorsFromEmail
    nexttasks:
      '#none#':
      - "2"

  "2":
    id: "2"
    taskid: enrich-indicators
    type: playbook
    task:
      name: Enrich Indicators
      playbookName: Indicator Enrichment - Generic
    nexttasks:
      '#none#':
      - "3"

  "3":
    id: "3"
    taskid: check-malicious
    type: condition
    task:
      name: Check if Malicious
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: ${DBotScore(val.Score >= 3)}
    nexttasks:
      "yes":
      - "4"
      '#default#':
      - "5"

  "4":
    id: "4"
    taskid: containment
    type: regular
    task:
      name: Block Sender and URLs
      script: BlockIndicators
    nexttasks:
      '#none#':
      - "6"

  "5":
    id: "5"
    taskid: benign
    type: regular
    task:
      name: Mark as Benign
      script: closeInvestigation
    arguments:
      closeReason: "Benign - No malicious indicators found"

  "6":
    id: "6"
    taskid: create-ticket
    type: regular
    task:
      name: Create ServiceNow Ticket
      script: ServiceNow-CreateIncident
    arguments:
      short_description: "Confirmed Phishing: ${incident.name}"
      urgency: "2"</code></pre>
                    </div>

                    <h3>XSOAR Integration Script</h3>
                    <div class="code-block">
                        <div class="code-header">
                            <span>Custom Integration (Python)</span>
                            <button class="copy-btn">Copy</button>
                        </div>
                        <pre><code>import demistomock as demisto
from CommonServerPython import *
import requests

def check_ip_reputation(ip: str) -> dict:
    """Check IP against threat intel source"""
    api_key = demisto.params().get('api_key')
    base_url = demisto.params().get('base_url')
    
    response = requests.get(
        f"{base_url}/ip/{ip}",
        headers={"Authorization": f"Bearer {api_key}"},
        verify=True
    )
    response.raise_for_status()
    
    data = response.json()
    
    # Calculate DBot score
    if data.get('malicious'):
        dbot_score = 3  # Malicious
    elif data.get('suspicious'):
        dbot_score = 2  # Suspicious
    else:
        dbot_score = 1  # Good
    
    return CommandResults(
        outputs_prefix='ThreatIntel.IP',
        outputs_key_field='ip',
        outputs={
            'ip': ip,
            'reputation': data.get('reputation'),
            'malicious': data.get('malicious', False),
            'categories': data.get('categories', [])
        },
        indicator=Common.IP(
            ip=ip,
            dbot_score=Common.DBotScore(
                indicator=ip,
                indicator_type=DBotScoreType.IP,
                score=dbot_score,
                integration_name='ThreatIntel'
            )
        )
    )

def main():
    command = demisto.command()
    
    if command == 'test-module':
        return_results('ok')
    elif command == 'ip':
        ip = demisto.args().get('ip')
        return_results(check_ip_reputation(ip))

if __name__ in ('__main__', '__builtin__', 'builtins'):
    main()</code></pre>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Playbook Design Patterns</h2>

                    <h3>Common Playbook Templates</h3>
                    <div class="comparison-grid">
                        <div class="comparison-card">
                            <h4>Phishing Response</h4>
                            <ol>
                                <li>Extract indicators from email</li>
                                <li>Enrich URLs, IPs, hashes</li>
                                <li>Check sender reputation</li>
                                <li>Search mailboxes for similar</li>
                                <li>Block malicious indicators</li>
                                <li>Notify affected users</li>
                            </ol>
                        </div>
                        <div class="comparison-card">
                            <h4>Malware Alert</h4>
                            <ol>
                                <li>Collect endpoint details</li>
                                <li>Get file hash and enrich</li>
                                <li>Query EDR for spread</li>
                                <li>Isolate if high severity</li>
                                <li>Collect forensic artifacts</li>
                                <li>Create ticket, notify team</li>
                            </ol>
                        </div>
                        <div class="comparison-card">
                            <h4>Failed Login Investigation</h4>
                            <ol>
                                <li>Aggregate failed attempts</li>
                                <li>Check source IP reputation</li>
                                <li>Determine if spray or brute</li>
                                <li>Check for successful login</li>
                                <li>Block IP if threshold met</li>
                                <li>Alert if account compromised</li>
                            </ol>
                        </div>
                    </div>

                    <h3>Best Practices</h3>
                    <div class="info-box tip">
                        <h4>💡 Playbook Design Guidelines</h4>
                        <ul>
                            <li><strong>Start simple:</strong> Begin with high-volume, low-risk automation</li>
                            <li><strong>Human-in-the-loop:</strong> Require approval for containment actions</li>
                            <li><strong>Error handling:</strong> Handle API failures gracefully</li>
                            <li><strong>Logging:</strong> Log all actions for audit trail</li>
                            <li><strong>Idempotency:</strong> Playbooks should be safe to re-run</li>
                            <li><strong>Timeouts:</strong> Set appropriate timeouts for external calls</li>
                            <li><strong>Testing:</strong> Test with sample data before production</li>
                        </ul>
                    </div>
                </section>

                <section class="content-section">
                    <h2>Interview Preparation</h2>
                    
                    <div class="expandable">
                        <button class="expandable-header">
                            <span>Q: Describe a SOAR playbook you've built and its impact.</span>
                            <span class="expand-icon">+</span>
                        </button>
                        <div class="expandable-content">
                            <p><strong>Example answer:</strong></p>
                            <p>"I built a phishing triage playbook in Sentinel that automated 80% of our phishing alert handling. The playbook:</p>
                            <ol>
                                <li>Extracted URLs, IPs, and attachments from reported emails</li>
                                <li>Enriched indicators via VirusTotal and URLhaus</li>
                                <li>Searched other mailboxes for the same sender/subject</li>
                                <li>Auto-closed benign reports with analyst notification</li>
                                <li>For malicious: blocked sender, quarantined emails, created ticket</li>
                            </ol>
                            <p>Impact: Reduced average handling time from 15 minutes to 2 minutes per alert, and analysts could focus on confirmed threats."</p>
                        </div>
                    </div>

                    <div class="expandable">
                        <button class="expandable-header">
                            <span>Q: When should you NOT automate a response action?</span>
                            <span class="expand-icon">+</span>
                        </button>
                        <div class="expandable-content">
                            <p><strong>Don't fully automate when:</strong></p>
                            <ul>
                                <li><strong>High business impact:</strong> Disabling executive accounts, blocking production IPs</li>
                                <li><strong>Low confidence:</strong> ML-based detections with high FP rate</li>
                                <li><strong>Irreversible actions:</strong> Wiping devices, permanent blocks</li>
                                <li><strong>Novel attacks:</strong> First-time TTPs requiring investigation</li>
                                <li><strong>Compliance requirements:</strong> Some regulations require human review</li>
                            </ul>
                            <p><strong>Instead:</strong> Use human-in-the-loop workflows—automate enrichment and preparation, but require analyst approval before containment.</p>
                        </div>
                    </div>
                </section>

                <nav class="page-nav">
                    <a href="bash-security.html" class="nav-link prev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="15 18 9 12 15 6"></polyline></svg>
                        Bash for Security
                    </a>
                    <a href="api-integration.html" class="nav-link next">
                        API Integration
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </a>
                </nav>
            </div>
        </main>
    </div>
    <script src="../../js/sidebar.js"></script>
</body>
</html>